body {
	background-color: Blue;
	font-family: Courier New;
	font-weight: bold;
	}
h1 {
	text-align: center;
	color: white;
}
table {
	background-color: white;
}
thead {
	background-color: Red;
}
tbody {
	background-color: green;
}
tr {
	text-align: center;
}
.attribute {
	text-align: left;
}